/* Container principal da doc, que define a linha horizontal */
.dock-container {
  position: relative;
  width: 100%;
  height: 15px; /* Altura total da área da doc */
  background: #161A23; /* Cor da barra de fundo */
  /* border-top: 1px solid #323238;  */
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); /* Sombra para o efeito de profundidade */
}

/* O entalhe central, que irá "flutuar" sobre a barra */
.dock-notch {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #161A23; /* Cor do entalhe */
  border-radius: 16px 16px 0 0;
  /* border: 1px solid #323238; */
  border-bottom: none;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Largura da doc quando o menu está fechado */
.dock-notch.closed {
  width: 100px;
  height: 35px; /* Altura do entalhe */
}

/* Largura da doc quando o menu está aberto */
.dock-notch.open {
  width: 350px;
  height: 84px; /* Altura para o estado aberto */
}